<template>
  
    <v-flex xs12 sm6 offset-sm3 mt-5 pt-5>
        <v-card>
            <v-card-title>
                <h1>Formulário de Cadastro</h1>
            </v-card-title>

            <v-card-text >
                <v-flex>
                    <v-alert
                    :value="true"
                    color="primary"
                    icon="far fa-thumbs-up"
                    v-if="mensagem" 
                    outline
                    >
                    {{ mensagem }}
                    </v-alert>
                </v-flex>
                <v-text-field
                v-model="ra"
                label="RA"
                ></v-text-field>

                <v-text-field
                v-model="email"
                label="E-mail"
                ></v-text-field>

                <v-select
                :items="items"
                label="Palestras"
                item-text="palestra"
                item-value="palestra_id"
                v-model="palestra_id"
                ></v-select>
            </v-card-text >

            <v-card-actions>
                <v-btn color="primary white--text" @click="submit">Cadastrar</v-btn>
                <v-btn outline color="teal" @click="clear">Limpar</v-btn>
            </v-card-actions>

        </v-card>
    </v-flex>
</template>

<script>
    export default {
        data: () => ({
	    mensagem: '',
            ra: '',
            email: '',
            palestra_id: '',
            items: [
                {
                    palestra_id: "1",
                    palestra: "Banca de Apresentação"
                },
            ]
        }),

        methods: {
            submit () {
                axios.post('/resources/inscricoes', {
                    ra: this.ra,
                    email: this.email,
                    palestra_id: this.palestra_id,
                })
                .then( r => {
                    this.clear();
                    this.mensagem = 'Inscrição realizada com sucesso. Enviamos um e-mail com o ser QR Code.';
                })
            },
            clear () {
                this.ra = ''
                this.email = ''
                this.palestra_id = null
            }
        }
    }
</script>
